*.lo
*.o
.DS_Store
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
derrick.komodoproject
derrick.sublime-*
doc/derrick.man
install-sh
libtool
ltmain.sh
m4/
missing
src/derrick
stamp-h1
CHANGES
